@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Our MENU</h1>
	<p class="lead">Here you can see our menu: all our dishes with description and prices!</p>	
</div>

<div class="row">
	<div class="col-md-6" style="text-decoration: none;">
		<h2>See @Html.ActionLink("Categories List", "Index", "Categories") </h2>
	</div>
	<div class="col-md-6" style="text-decoration: none;">
		<h2>See @Html.ActionLink("All Dishes List", "Index", "Products") </h2> 
	</div>
   
</div>